<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>
    <center>
        <div class="wrapper">
            <div class="trigger site-navigation">
                <!-- <span class="exclamationMark">|</span> -->
                <a class="page-link" href="{{prepend: site.url | prepend: site.baseurl }}/">HOME</a>
                <!-- <span class="exclamationMark">|</span> -->

                {% for sitePage in site.pages %}
                    {% if sitePage.title %}
                        <span class="exclamationMark">|</span>
                        <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </center>
    {% include footer.html %}

</body>

</html>
